<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<script>
  window.images = {
    logo: "<%= asset_path("logo.png") %>",
    splash: "<%= asset_path("splash.png") %>",
    signup: "<%= asset_path("signup-mouse.png") %>",
    login: "<%= asset_path("login-mouse.png") %>",
    mouseIcon: "<%= asset_path("mouse-icon.png") %>",
    settledUp: "<%= asset_path("settled-up.png") %>",
    youOwe: "<%= asset_path("you-owe.png") %>",
    owedYou: "<%= asset_path("owed-you.png") %>"
  }
</script>

<main id="root">
    <div>React is broken :(</div>
</main>